@import "../../styles/variables";
@import "../../styles/responsive";

.loader-container {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-wrap {
  width: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 32px;
  height: 32px;
  border: 4px solid #ddd;
  border-top-color: #555;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
