@import "/src/styles/variables";
@import "/src/styles/responsive";

@mixin p_style {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2;
  word-break: keep-all;
  @include desktop {
    font-size: 1.6rem;
  }
  @include tablet {
    font-size: 1.5rem;
    line-height: 1.9;
  }
  @include mobile {
    font-size: 1.4rem;
  }
}

.inner1500 {
  width: 1500px;
  margin: 0 auto;
  @include desktop1600 {
    width: auto;
    margin: 0 30px;
  }
  @include tablet {
    margin: 0 18px;
  }
}

// EventTop
.sub_event_top {
  margin-top: 150px;
  width: 100%;
  .inner {
    .banner_bg {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 700px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .txt_wrap {
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translateY(-50%);
        color: #fff;
        padding: 40px;
        h3 {
          font-size: 5rem;
          font-weight: 300;
          line-height: 1.1;
        }
        hr {
          margin: 38px 0 40px;
          width: 127px;
          border: none;
          border-top: 1px solid map-get($map: $color, $key: light);
        }
        p {
          font-size: 2.3rem;
          font-weight: 300;
          span {
            font-weight: 700;
          }
        }
      }
    }
  }

  @include desktop1600 {
    margin-top: 140px;
    .inner {
      .banner_bg {
        height: 600px;
        .txt_wrap {
          left: 50%;
          h3 {
            font-size: 4.5rem;
          }
          p {
            font-size: 2rem;
          }
        }
      }
    }
  }

  @include tablet {
    margin-top: 126px;
    .inner {
      .banner_bg {
        height: 400px;
        .txt_wrap {
          h3 {
            font-size: 3.5rem;
          }
          hr {
            margin: 24px 0 30px;
            width: 100px;
          }
          p {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  @include mobile {
    margin-top: 120px;
    .inner {
      .banner_bg {
        height: 260px;
        .txt_wrap {
          left: 41%;
          h3 {
            font-size: 2.3rem;
          }
          hr {
            margin: 16px 0 20px;
            width: 80px;
          }
          p {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  @include mobile500 {
    .inner {
      .banner_bg {
        height: 220px;
        .txt_wrap {
          h3 {
            font-size: 2.2rem;
          }
          hr {
            margin: 16px 0 20px;
            width: 60px;
          }
          p {
            font-size: 1.4rem;
            span {
              display: block;
            }
          }
        }
      }
    }
  }
}

// EventProfiles
.event_profile {
  dl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .txt {
      h5 {
        font-size: 1.8rem;
        font-weight: 300;
        text-transform: uppercase;
      }
      h4 {
        margin: 7px 0 82px;
        font-size: 6.5rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      p {
        @include p_style;
        &:nth-of-type(2) {
          margin-top: 20px;
        }
      }
    }
    .img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &.epf1 {
    margin-top: 150px;
    dl {
      .img {
        width: 780px;
        height: 834px;
        opacity: 0;
        transform: translateX(30%);
        transition: all 0.5s;
        &.ani {
          opacity: 1;
          transform: translateX(0%);
        }
      }
    }
  }
  &.epf2 {
    margin-top: 130px;
    dl {
      flex-direction: row-reverse;
      justify-content: start;
      gap: 125px;
      .img {
        width: 798px;
        height: 455px;
        opacity: 0;
        transform: translateY(30%);
        transition: all 0.5s;
        &.ani {
          opacity: 1;
          transform: translateY(0%);
        }
      }
    }
  }

  @include desktop1600 {
    dl {
      .txt {
        h5 {
          font-size: 1.7rem;
        }
        h4 {
          margin: 7px 0 70px;
          font-size: 5.5rem;
        }
      }
    }
    &.epf1 {
      margin-top: 120px;
      dl {
        .txt {
          padding-left: 110px;
        }
        .img {
          width: 40vw;
          height: 50vw;
        }
      }
    }
    &.epf2 {
      margin-top: 130px;
      dl {
        gap: 110px;
        .img {
          width: 50vw;
          height: 30vw;
        }
      }
    }
  }

  @include desktop {
    dl {
      .txt {
        h5 {
          font-size: 1.6rem;
        }
        h4 {
          margin: 7px 0 60px;
          font-size: 4.8rem;
        }
      }
    }
    &.epf1 {
      margin-top: 120px;
      dl {
        .txt {
          padding-left: 60px;
        }
      }
    }
    &.epf2 {
      margin-top: 130px;
      dl {
        gap: 70px;
      }
    }
  }

  @include tablet {
    dl {
      .txt {
        h5 {
          font-size: 1.4rem;
        }
        h4 {
          margin: 6px 0 50px;
          font-size: 4rem;
        }
      }
    }
    &.epf1 {
      margin-top: 120px;
      dl {
        .txt {
          padding-left: 40px;
        }
      }
    }
    &.epf2 {
      margin-top: 100px;
      dl {
        gap: 6vw;
        .img {
          width: 47vw;
          height: 30vw;
        }
      }
    }
  }

  @include mobile {
    dl {
      flex-wrap: wrap;
      .txt {
        width: 100%;

        h5 {
          font-size: 1.4rem;
        }
        h4 {
          margin: 4px 0 40px;
          font-size: 3rem;
        }
        p {
          br {
            display: none;
          }
        }
      }
      .img {
        max-width: 100%;
        margin: 0 auto;
        margin-top: 4vw;
      }
    }
    &.epf1 {
      margin-top: 80px;
      dl {
        .txt {
          padding-left: 0px;
        }
        .img {
          margin-top: 50px;
          width: calc(400px + 5vw);
          height: 62vw;
        }
      }
    }
    &.epf2 {
      margin-top: 50px;
      dl {
        gap: 0;
        .img {
          margin-top: 50px;
          width: calc(400px + 25vw);
          height: 40vw;
        }
      }
    }
  }

  @include mobile500 {
    dl {
      .txt {
        h5 {
          font-size: 1.3rem;
        }
        h4 {
          margin: 4px 0 30px;
          font-size: 2.4rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
    &.epf1 {
      margin-top: 70px;
    }
    &.epf2 {
      margin-top: 50px;
    }
  }
}

// EventDesigner
.event_designer_banner {
  position: relative;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 145px 0;
  img {
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    top: 0;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transform: translateX(-50%);
    transition: width 1.2s, opacity 1.2s;
    &.ani {
      width: 100%;
      opacity: 1;
    }
  }
  div {
    color: map-get($map: $color, $key: light);
    .saying {
      text-align: center;
      font-size: 2.2rem;
      line-height: 1.6;
      font-weight: 300;
      span {
        font-weight: 600;
      }
      br {
        display: none;
      }
    }
    .name {
      margin-top: 7px;
      font-weight: 300;
      font-size: 1.5rem;
    }
  }

  @include desktop1600 {
    margin-top: 160px;
    padding: 130px 0;
    div {
      .saying {
        font-size: 2rem;
      }
    }
  }
  @include tablet {
    margin-top: 110px;
    padding: 110px 0;
    div {
      .saying {
        font-size: 1.9rem;
      }
      .name {
        margin-top: 4px;
        font-size: 1.4rem;
      }
    }
  }
  @include mobile {
    margin-top: 100px;
    padding: 90px 0;
    div {
      .saying {
        font-size: 1.7rem;
      }
    }
  }
  @include mobile500 {
    margin-top: 80px;
    padding: 70px 0;
    background-position: 60% center;
    div {
      .saying {
        font-size: 1.5rem;
        line-height: 1.5;
        br {
          display: block;
        }
      }
      .name {
        text-align: center;
        margin-top: 5px;
        font-size: 1.3rem;
      }
    }
  }
}

.event_furniture {
  .desc_wrap {
    margin: 140px 0 140px;
    .desc {
      @include p_style;
      @include mobile500 {
        br {
          display: none;
        }
      }
    }
  }

  @include tablet {
    .desc_wrap {
      margin: 100px 0 120px;
    }
  }

  @include mobile {
    .desc_wrap {
      margin: 70px 0 100px;
    }
  }
}

.featured-section {
  margin-bottom: 120px;
  h2 {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 50px 0;
  }
  @include desktop {
    margin-bottom: 100px;
    h2 {
      font-size: 2.5rem;
      margin: 45px 0;
    }
  }
  @include mobile {
    margin-bottom: 80px;
    h2 {
      font-size: 2.2rem;
      margin: 40px 0;
    }
  }
  @include mobile500 {
    h2 {
      font-size: 1.9rem;
      margin: 40px 0;
    }
  }
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 33px;
  column-gap: 37px;
  .product-card {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #ddd;
      margin: 14px 0px 0px;
    }
  }
  @include desktop1600 {
    column-gap: 30px;
  }
  @include desktop {
    column-gap: 25px;
  }
  @include desktop1200 {
    grid-template-columns: repeat(2, 1fr);
  }
  @include tablet {
    row-gap: 25px;
    column-gap: 20px;
  }
  @include mobile {
    column-gap: 15px;
  }
  @include mobile500 {
    grid-template-columns: 1fr;
  }
}
