@mixin desktop1600 {
  @media (max-width: 1600px) {
    @content;
  }
}

@mixin desktop1600 {
  @media (max-width: 1600px) {
    @content;
  }
}
@mixin detailInfoResponsive1600 {
  @media (max-width: 1600px) {
    .detail_info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 40px;
      // max-width: 1400px;
      margin: 0;
      // padding: 40px 20px;
      box-sizing: border-box;

      .right_detail_info {
        min-width: 0;
        // .first_info{
        //   gap: 180px;
        // }
        // .second_info {
        //   gap: 278px;
        // }
        // .third_info {
        //   gap: 225px;
        // }
        // .fourth_info{
        //   gap: 290px;
        // }
        // .fifth_info{
        //   gap: 283px;
        // }
        // .sixth_info{
        //   gap: 290px;
        // }
        // .seventh_info{
        //   gap: 179px;
        // }
        // .eieghtth_info{
        //   gap: 234px;
        // }
        // .nineth_info{
        //   gap: 140px;
        // }
        // .tenth_info{
        //   gap: 290px;
        // }
        // .eleventh_info{
        //   gap: 307px;
        // }
      }
      .left_detail_info {
        .detail_info_title {
          font-size: 2rem;
        }
        p {
          font-size: 1.8rem;
        }
      }
      li {
        font-size: 1.8rem;
      }
    }
  }
}
@mixin desktop {
  @media (max-width: 1300px) {
    @content;
  }
}
@mixin desktop1200 {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1025px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile500 {
  @media (max-width: 500px) {
    @content;
  }
}
