@use "sass:map";

$color: (
  main: #c7d4dd,
  main2: #8ba4b5,
  light: #fff,
  dark: #222,
  gray_9: #999,
  gray_d1: #d1d1d1,
  gray_d9: #d9d9d9,
  gray_e0: #e0e0e0,
  gray_f2: #f2f2f2,
);

$font: (
  pretendard: "Pretendard Variable",
  lato: "Lato",
);
