@import "../../styles/variables";
@import "../../styles/responsive";
.home {
  width: 100%;
  background: map-get($map: $color, $key: light);
  overflow-x: hidden;

  section {
    &:nth-child(1) {
      .main_vid_text {
        h1 {
          font-size: 5.2rem;
          margin-bottom: 10px;
        }
        p {
          font-weight: 300;
          &:nth-of-type(1) {
            font-size: 2rem;
            line-height: 1.8;
          }
          &:nth-of-type(2) {
            font-size: 1.6rem;
          }
        }
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        color: map-get($map: $color, $key: light);
        z-index: 1;
        @include mobile {
          h1 {
            font-size: 3.5rem;
          }
          p {
            &:nth-of-type(1) {
              font-size: 1.7rem;
            }
            &:nth-of-type(2) {
              font-size: 1.5rem;
            }
          }
        }
        @include mobile500 {
          padding: 0 18px;
          text-align: center;
          h1 {
            font-size: 3rem;
          }
          p {
            &:nth-of-type(1) {
              font-size: 1.5rem;
            }
            &:nth-of-type(2) {
              font-size: 1.3rem;
            }
          }
        }
      }

      .filter {
        position: relative;
        height: 100vh;
        background-color: map-get($map: $color, $key: black);
        .video-thumb {
          background-color: map-get($map: $color, $key: black);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        video {
          object-fit: cover;
        }
      }
    }
    &:nth-child(2) {
      .inner {
        .category_font {
          font-size: 3.5rem;
          font-weight: 300;
          margin: 160px 0 50px;
          @include mobile {
            font-size: 2.5rem;
            margin: 130px 0 30px;
          }
        }

        .products-grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          row-gap: 33px;
          column-gap: 37px;
          .product-card {
            &::after {
              content: "";
              display: block;
              width: 100%;
              height: 1px;
              background-color: #ddd;
              margin: 14px 0px 0px;
            }
          }
          @include desktop1600 {
            column-gap: 30px;
          }
          @include desktop {
            column-gap: 25px;
          }
          @include desktop1200 {
            grid-template-columns: repeat(2, 1fr);
          }
          @include tablet {
            row-gap: 25px;
            column-gap: 20px;
          }
          @include mobile {
            column-gap: 15px;
          }
          @include mobile500 {
            grid-template-columns: 1fr;
          }
        }
      }
    }
    &:nth-child(3) {
      .category_font {
        font-size: 3.5rem;
        font-weight: 300;
        margin: 120px 0 50px;
        @include mobile {
          font-size: 2.5rem;
          margin: 100px 0 30px;
        }
      }
    }

    &:nth-child(4) {
      margin-bottom: 100px;
      width: 100%;
      .category_font {
        font-size: 3.5rem;
        font-weight: 300;
        margin: 160px 0 50px 0;
        @include mobile {
          font-size: 2.5rem;
          margin: 100px 0 30px;
        }
      }
      .grid_container_1 {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);

        .grid_item {
          position: relative;
          cursor: pointer;
          .text {
            &::after {
              content: "";
              position: absolute;
              width: 0%;
              height: 1px;
              background: map-get($map: $color, $key: dark);
              bottom: -15px;
              left: 50%;
              transform: translateX(-50%);
              transition: all 0.6s;
              transform-origin: center;
            }
          }
          &:hover > ::after {
            width: 110px;
          }
          &:hover {
            .img_div {
              img {
                scale: 1.1;
              }
            }
          }
        }

        .img_div {
          font-size: 0;
          overflow: hidden;
          img {
            object-fit: cover;
            width: 100%;
            height: 350px;
            transition: all 0.5s;
            cursor: pointer;
          }
        }
        .text {
          position: relative;
          width: 100%;
          font-size: 2.5rem;
          font-weight: 300;
          text-align: center;
          margin: 25px 0 55px 0;

          cursor: pointer;
        }
        @include tablet {
          .grid_item {
            .img_div {
              img {
                height: 250px;
              }
            }
            .text {
              &::after {
                bottom: -13px;
                &:hover > ::after {
                  width: 95px;
                }
              }
            }
          }
          .text {
            font-size: 2.1rem;
            margin: 15px 0 40px 0;
          }
        }
        @include mobile {
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
          .img_div {
            overflow: hidden;
            img {
              height: 280px;
            }
          }
          .grid_item {
            .text {
              &::after {
                bottom: -13px;
                &:hover > ::after {
                  width: 95px;
                }
              }
            }
          }
          .text {
            font-size: 2.1rem;
            margin: 15px 0 40px 0;
          }
        }
      }
      .grid_container_2 {
        margin-top: 30px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);

        .grid_item {
          position: relative;
          cursor: pointer;
          .text {
            &::after {
              content: "";
              position: absolute;
              width: 0%;
              height: 1px;
              background: map-get($map: $color, $key: dark);
              bottom: -15px;
              left: 50%;
              transform: translateX(-50%);
              transition: all 0.6s;
              transform-origin: center;
            }
          }
          &:hover > ::after {
            width: 110px;
          }
          &:hover {
            .img_div {
              img {
                scale: 1.1;
              }
            }
          }
        }

        .img_div {
          font-size: 0;
          overflow: hidden;
          img {
            object-fit: cover;
            width: 100%;
            height: 350px;
            transition: all 0.5s;
            cursor: pointer;
          }
        }
        .text {
          position: relative;
          width: 100%;
          font-size: 2.5rem;
          font-weight: 300;
          text-align: center;
          margin: 25px 0 55px 0;

          cursor: pointer;
        }

        @include tablet {
          .grid_item {
            .img_div {
              img {
                height: 250px;
              }
            }
            .text {
              &::after {
                bottom: -13px;
                &:hover > ::after {
                  width: 95px;
                }
              }
            }
          }
          .text {
            font-size: 2.1rem;
            margin: 15px 0 40px 0;
          }
        }
        @include mobile {
          margin-top: 20px;
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
          .img_div {
            overflow: hidden;
            img {
              height: 280px;
            }
          }
          .grid_item {
            .text {
              &::after {
                bottom: -13px;
                &:hover > ::after {
                  width: 95px;
                }
              }
            }
          }
          .text {
            font-size: 2.1rem;
            margin: 15px 0 40px 0;
          }
        }
      }

      @include mobile {
        margin-bottom: 60px;
      }
    }
  }
}
