@import "/src/styles/variables";
@import "src/styles/responsive.scss";
.home {
  width: 100%;
  background: map-get($map: $color, $key: light);
  overflow-x: hidden;

  section {
    &:nth-child(1) {
      .main_vid_text {
        h1 {
          font-size: 5.2rem;
          margin-bottom: 10px;
        }
        p {
          &:nth-of-type(1) {
            font-size: 2rem;
            line-height: 1.8;
          }
        }
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        color: map-get($map: $color, $key: light);
        z-index: 1;
      }

      .filter {
        height: 100vh;
        video {
          object-fit: cover;
        }
      }
    }
    &:nth-child(2) {
      .inner {
        .category_font {
          font-size: 3.5rem;
          font-weight: 300;
          margin: 124px 0 0 0;
        }
        .bestContents {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, auto);
          margin-bottom: 209px;
          img {
            width: 577px;
            height: 420px;
            object-fit: cover;
          }
        }
      }
    }
    &:nth-child(3) {
    }
    &:nth-child(4) {
      width: 100%;
      .category_font {
        font-size: 3.5rem;
        font-weight: 300;
        margin: 229px 0 65px 0;
      }
      .inner {
      }
      .grid_container_1 {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);

        .grid_item {
          position: relative;
          cursor: pointer;
          .text {
            &::after {
              content: "";
              position: absolute;
              width: 0%;
              height: 1px;
              background: map-get($map: $color, $key: dark);
              bottom: -15px;
              left: 50%;
              transform: translateX(-50%);
              transition: all 0.6s;
              transform-origin: center;
            }
          }
          &:hover > ::after {
            width: 110px;
          }
        }

        .img_div {
          overflow: hidden;
          img {
            width: 100%;
            max-width: 100%;
            height: 380px;
            transition: all 0.5s;
            cursor: pointer;
            object-fit: cover;

            &:hover {
              scale: 1.1;
            }
          }
        }
        .text {
          position: relative;
          width: 100%;
          font-size: 2.5rem;
          font-weight: 300;
          text-align: center;
          margin: 25px 0 55px 0;

          cursor: pointer;
        }
      }
      .grid_container_2 {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);

        .grid_item {
          position: relative;
          cursor: pointer;
          .text {
            &::after {
              content: "";
              position: absolute;
              width: 0%;
              height: 1px;
              background: map-get($map: $color, $key: dark);
              bottom: -15px;
              left: 50%;
              transform: translateX(-50%);
              transition: all 0.6s;
              transform-origin: center;
            }
          }
          &:hover > ::after {
            width: 110px;
          }
        }

        .img_div {
          overflow: hidden;
          img {
            width: 100%;
            transition: all 0.5s;
            cursor: pointer;

            &:hover {
              scale: 1.1;
            }
          }
        }
        .text {
          position: relative;
          width: 100%;
          font-size: 2.5rem;
          font-weight: 300;
          text-align: center;
          margin: 25px 0 55px 0;

          cursor: pointer;
        }
      }
    }
  }
}

@include desktop1600 {
  .home {
    section {
      .inner {
        .grid_container_1 {
          .grid_item {
            .img_div {
              img {
                height: 300px;
              }
            }
          }
        }
      }
    }
  }
}
