.payment_wrapper {
  position: relative;
  padding: 200px 0 160px;
}
.payment_wrapper .gray_bg {
  background-color: #f7f7f7;
  position: fixed;
  width: 50%;
  height: 100vh;
  z-index: -10;
  top: 0;
  right: 0;
}
.payment_wrapper .payment {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.payment_wrapper .payment_left, .payment_wrapper .payment_right {
  width: 50%;
}
.payment_wrapper .payment_left .order_payment {
  margin-bottom: 110px;
  width: 450px;
}
.payment_wrapper .payment_left .order_payment h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 45px;
}
.payment_wrapper .payment_left .order_payment .payment_method {
  display: flex;
  width: 100%;
  height: 48px;
  gap: 0px;
  margin-bottom: 45px;
}
.payment_wrapper .payment_left .order_payment .payment_method .method_button01,
.payment_wrapper .payment_left .order_payment .payment_method .method_button02 {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  border: none;
  font-weight: normal;
  font-size: 15px;
  font-family: "Pretendard", sans-serif;
  cursor: pointer;
}
.payment_wrapper .payment_left .order_payment .payment_method .method_button01 {
  background-color: #03c75a;
  color: #fff;
}
.payment_wrapper .payment_left .order_payment .payment_method .method_button02 {
  background-color: #fee500;
  color: #3d1e1e;
}
.payment_wrapper .payment_left .order_payment .divider {
  display: flex;
  align-items: center;
  gap: auto;
  width: 100%;
}
.payment_wrapper .payment_left .order_payment .divider hr {
  flex: 1;
  border: none;
  border-top: 1px solid #d1d1d1;
}
.payment_wrapper .payment_left .order_payment .divider span {
  font-size: 12px;
  font-weight: lighter;
  color: #000;
  font-size: "Lato", sans-serif;
}
.payment_wrapper .payment_left .buyer_info {
  width: 450px;
}
.payment_wrapper .payment_left .buyer_info h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Pretendard", sans-serif;
  margin-bottom: 45px;
}
.payment_wrapper .payment_left .buyer_info .buyer_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.payment_wrapper .payment_left .buyer_info .buyer_form input {
  padding: 12px 14px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Pretendard", sans-serif;
  color: #333;
  border: 1px solid #d1d1d1;
  width: 100%;
  height: 48px;
}
.payment_wrapper .payment_left .buyer_info .buyer_form input::placeholder {
  color: #999;
}
.payment_wrapper .payment_left .buyer_info .buyer_form .email_container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.payment_wrapper .payment_left .buyer_info .buyer_form .email_container .email_input,
.payment_wrapper .payment_left .buyer_info .buyer_form .email_container .domain_input,
.payment_wrapper .payment_left .buyer_info .buyer_form .email_container .domain_select {
  flex: 1;
  height: 48px;
  padding: 12px 14px;
  font-size: 14px;
  color: #333;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
}
.payment_wrapper .payment_left .buyer_info .buyer_form .email_container .email_input::placeholder,
.payment_wrapper .payment_left .buyer_info .buyer_form .email_container .domain_input::placeholder,
.payment_wrapper .payment_left .buyer_info .buyer_form .email_container .domain_select::placeholder {
  color: #999;
}
.payment_wrapper .payment_left .buyer_info .buyer_form .email_container .email_at {
  font-size: 15px;
  color: #555;
  line-height: 48px;
}
.payment_wrapper .payment_left .buyer_info .buyer_form .input_group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.payment_wrapper .payment_left .buyer_info .buyer_form .input_group input {
  margin-bottom: 4px;
}
.payment_wrapper .payment_left .buyer_info .buyer_form .input_group .password-guide {
  color: #000;
  font-size: 13px;
  margin-top: -6px;
}
.payment_wrapper .payment_left .buyer_info .buyer_form .input_group .error-message {
  color: #f44336;
  font-size: 13px;
  margin-top: -6px;
}
.payment_wrapper .payment_left .shipping_info {
  width: 100%;
  margin-top: 110px;
  margin-bottom: 110px;
}
.payment_wrapper .payment_left .shipping_info h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Pretendard", sans-serif;
  margin-bottom: 45px;
}
.payment_wrapper .payment_left .shipping_info .shipping_form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.payment_wrapper .payment_left .shipping_info .shipping_form input,
.payment_wrapper .payment_left .shipping_info .shipping_form select {
  width: 100%;
  height: 48px;
  padding: 12px 14px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Pretendard", sans-serif;
  color: #333;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
}
.payment_wrapper .payment_left .shipping_info .shipping_form input::placeholder,
.payment_wrapper .payment_left .shipping_info .shipping_form select::placeholder {
  color: #999;
}
.payment_wrapper .payment_left .shipping_info .shipping_form .payment_zipcode {
  display: flex;
  gap: 10px;
}
.payment_wrapper .payment_left .shipping_info .shipping_form .payment_zipcode .zipcode_input {
  width: 142px;
  height: 48px;
}
.payment_wrapper .payment_left .shipping_info .shipping_form .payment_zipcode button {
  width: 102px;
  height: 48px;
  background-color: #edf2f4;
  border: 1px solid #d1d1d1;
  font-size: 14px;
  font-family: "Pretendard", sans-serif;
  cursor: pointer;
}
.payment_wrapper .payment_left .shipping_info .shipping_form .payment_zipcode button:hover {
  background-color: #edf2f4;
}
.payment_wrapper .payment_left .shipping_info .shipping_form .request_select {
  appearance: none;
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg width='10' height='6' viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l4 4 4-4' stroke='%23999' stroke-width='1.5' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat right 14px center;
  background-size: 10px 6px;
  color: #999;
}
.payment_wrapper .payment_left .shipping_info .shipping_form .custom_request_input {
  width: 100%;
  height: 48px;
  padding: 12px 14px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Pretendard", sans-serif;
  color: #999;
  border: 1px solid #d1d1d1;
}
.payment_wrapper .payment_left .shipping_info .shipping_form .custom_request_input::placeholder {
  color: #999;
}
.payment_wrapper .payment_left .payment_mean {
  width: 100%;
}
.payment_wrapper .payment_left .payment_mean h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Pretendard", sans-serif;
  margin-bottom: 45px;
}
.payment_wrapper .payment_left .payment_mean h4 {
  font-size: 16px;
  font-weight: lighter;
  font-family: "Pretendard", sans-serif;
  margin-bottom: 20px;
}
.payment_wrapper .payment_left .payment_mean .mean_choice {
  display: flex;
  gap: 0px;
  margin-bottom: 20px;
  width: 100%;
  height: 48px;
}
.payment_wrapper .payment_left .payment_mean .mean_choice .btn--tab {
  flex: 1;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 14px;
  font-family: "Pretendard", sans-serif;
  color: #333;
  cursor: pointer;
}
.payment_wrapper .payment_left .payment_mean .mean_choice .btn--tab.active {
  border-color: #333;
  background-color: #f7f7f7;
  font-weight: 500;
}
.payment_wrapper .payment_left .payment_mean .notice {
  word-break: keep-all;
  text-align: center;
  font-size: 13px;
  color: #999;
  margin-bottom: 45px;
}
.payment_wrapper .payment_left .payment_mean .agreements {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.payment_wrapper .payment_left .payment_mean .agreements label {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Pretendard", sans-serif;
  color: #333;
}
.payment_wrapper .payment_left .payment_mean .agreements label input[type=checkbox] {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.payment_wrapper .payment_right {
  width: 450px;
  display: flex;
  justify-content: flex-end;
}
.payment_wrapper .payment_right .payment_summary {
  width: 100%;
  position: relative;
  justify-content: flex-start;
  font-family: "Pretendard", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 39px;
  margin-top: 0px;
}
.payment_wrapper .payment_right .payment_summary .summary_product {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}
.payment_wrapper .payment_right .payment_summary .summary_product img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.payment_wrapper .payment_right .payment_summary .summary_product_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.payment_wrapper .payment_right .payment_summary .summary_product_info > .summary_product_name {
  font-size: 20px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
}
.payment_wrapper .payment_right .payment_summary .summary_product_info > .summary_product_subinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment_wrapper .payment_right .payment_summary .summary_product_info > .summary_product_subinfo .summary_product_quantity {
  font-size: 14px;
  font-weight: lighter;
  font-family: "Pretendard", sans-serif;
  color: #000;
}
.payment_wrapper .payment_right .payment_summary .summary_product_info > .summary_product_subinfo .summary_product_price {
  font-size: 18px;
  font-weight: lighter;
  font-family: "Pretendard", sans-serif;
  color: #000;
}
.payment_wrapper .payment_right .payment_summary .summary_coupon {
  display: flex;
  gap: 24px;
}
.payment_wrapper .payment_right .payment_summary .summary_coupon input {
  flex: 1;
  width: 349px;
  height: 50px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
}
.payment_wrapper .payment_right .payment_summary .summary_coupon button {
  font-weight: lighter;
  font-family: "Pretendard", sans-serif;
  font-size: 15px;
  background-color: #c7d4dd;
  color: #000;
  border: none;
  text-align: center;
  cursor: pointer;
  width: 77px;
  height: 100%;
}
.payment_wrapper .payment_right .payment_summary .summary_breakdown {
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: lighter;
}
.payment_wrapper .payment_right .payment_summary .summary_breakdown div {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
  line-height: 1.6;
}
.payment_wrapper .payment_right .payment_summary .summary_breakdown div span:last-child {
  font-weight: lighter;
  font-size: 16px;
}
.payment_wrapper .payment_right .payment_summary .summary_total {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  font-size: 16px;
}
.payment_wrapper .payment_right .payment_summary .summary_total strong:first-child {
  font-size: 20px;
  font-weight: normal;
  font-family: "Pretendard Variable", sans-serif;
}
.payment_wrapper .payment_right .payment_summary .summary_total strong:last-child {
  font-weight: 400;
  font-family: "Pretendard", sans-serif;
  font-size: 23px;
}
.payment_wrapper .payment_right .payment_summary hr {
  border: 1px solid #d1d1d1;
}
.payment_wrapper .payment_right .payment_summary .summary_submit {
  width: 100%;
  height: 62px;
  background-color: #8ba4b5;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.payment_wrapper .payment_right .payment_summary .summary_submit:hover {
  background-color: #8ba4b5;
  opacity: 0.8;
}
@media (max-width: 1200px) {
  .payment_wrapper {
    margin: 0 30px;
    display: flex;
    justify-content: center;
  }
  .payment_wrapper .gray_bg {
    display: none;
  }
  .payment_wrapper .payment {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .payment_wrapper .payment_left, .payment_wrapper .payment_right {
    flex: 1;
    min-width: 0;
  }
  .payment_wrapper .payment_right {
    display: flex;
    justify-content: center;
  }
  .payment_wrapper .payment_right .product_summary {
    width: 450px;
    margin-top: 110px;
  }
}
@media (max-width: 1025px) {
  .payment_wrapper {
    margin: 0 18px;
  }
  .payment_wrapper .payment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .payment_wrapper .payment_left, .payment_wrapper .payment_right {
    width: auto;
    max-width: 100%;
  }
  .payment_wrapper .payment_right {
    margin-top: 40px;
  }
  .payment_wrapper .payment .summary_product {
    display: flex;
    flex-direction: row;
  }
  .payment_wrapper .payment .summary_product img {
    width: 80px;
    height: 80px;
  }
  .payment_wrapper .payment .summary_product_info {
    flex: 1;
    padding-left: 10px;
  }
  .payment_wrapper .payment .summary_submit {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .payment_wrapper {
    padding: 170px 0 100px;
  }
  .payment_wrapper .payment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .payment_wrapper .payment_left, .payment_wrapper .payment_right {
    width: 100%;
    max-width: 100%;
  }
  .payment_wrapper .payment .payment_left .order_payment {
    width: 100%;
  }
  .payment_wrapper .payment .payment_left .buyer_info {
    width: 100%;
  }
  .payment_wrapper .payment .payment_sumary {
    width: 100%;
    max-width: 100%;
  }
  .payment_wrapper .payment .payment_sumary .summary_product {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .payment_wrapper .payment .payment_sumary .summary_product img {
    width: 100%;
  }
  .payment_wrapper .payment .payment_sumary .summary_product_info {
    width: 100%;
    padding: 10px 0;
  }
  .payment_wrapper .payment .payment_sumary .summary_coupon {
    flex-direction: row;
  }
  .payment_wrapper .payment .payment_sumary .summary_coupon input,
  .payment_wrapper .payment .payment_sumary .summary_coupon button {
    width: 100%;
  }
  .payment_wrapper .payment .payment_sumary .summary_submit {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .payment_wrapper {
    padding: 170px 0px;
  }
  .payment_wrapper .payment {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  .payment_wrapper .payment .payment_left .order_payment {
    width: 100%;
  }
  .payment_wrapper .payment .payment_left .buyer_info {
    width: 100%;
  }
  .payment_wrapper .payment .payment_left .payment_mean .notice {
    text-align: left;
  }
  .payment_wrapper .payment .payment_right {
    width: 100%;
  }
}