@import "../../styles/responsive";
@import "../../styles/variables";

.payment_wrapper {
  position: relative;
  padding: 200px 0 160px;
  .gray_bg {
    background-color: #f7f7f7;
    position: fixed;
    width: 50%;
    height: 100vh;
    z-index: -10;
    top: 0;
    right: 0;
  }
  .payment {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: space-between;
    // background-color: #edf2f4;
    // @media (max-width: 768px) {
    //   flex-direction: column;
    // }

    // @include tablet {
    //   flex-direction: column;
    //   width: 90%;
    //   margin: 120px auto;
    // }

    // @include mobile {
    //   margin: 100px auto;
    // }

    &_left,
    &_right {
      width: 50%;
    }

    &_left {
      // 주문 결제
      .order_payment {
        margin-bottom: 110px;
        width: 450px;
        h2 {
          font-size: 25px;
          font-weight: 500;
          margin-bottom: 45px;
        }

        .payment_method {
          display: flex;
          width: 100%;
          height: 48px;
          gap: 0px;
          margin-bottom: 45px;

          .method_button01,
          .method_button02 {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 15px;
            justify-content: center;
            border: none;
            font-weight: normal;
            font-size: 15px;
            font-family: "Pretendard", sans-serif;
            cursor: pointer;
          }

          .method_button01 {
            background-color: #03c75a;
            color: #fff;
          }

          .method_button02 {
            background-color: #fee500;
            color: #3d1e1e;
          }
        }

        .divider {
          display: flex;
          align-items: center;
          gap: auto;
          width: 100%;

          hr {
            flex: 1;
            border: none;
            border-top: 1px solid #d1d1d1;
          }

          span {
            font-size: 12px;
            font-weight: lighter;
            color: #000;
            font-size: "Lato", sans-serif;
          }
        }
      }

      // 구매자 정보
      .buyer_info {
        width: 450px;
        h3 {
          font-size: 20px;
          font-weight: 500;
          font-family: "Pretendard", sans-serif;
          margin-bottom: 45px;
        }

        .buyer_form {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 25px;

          input {
            padding: 12px 14px;
            font-size: 14px;
            font-weight: 300;
            font-family: "Pretendard", sans-serif;
            color: #333;
            border: 1px solid #d1d1d1;
            // width: 450px;
            width: 100%;
            height: 48px;
            // background-color: #edf2f4;

            &::placeholder {
              color: #999;
            }
          }
          .email_container {
            display: flex;
            align-items: center;
            gap: 8px;
            width: 100%;
            // max-width: 450px;
            // background-color: #e6ebed;
            .email_input,
            .domain_input,
            .domain_select {
              flex: 1;
              height: 48px;
              padding: 12px 14px;
              font-size: 14px;
              color: #333;
              border: 1px solid #d1d1d1;
              box-sizing: border-box;
              // background-color: #edf2f4;
              &::placeholder {
                color: #999;
              }
            }

            .email_at {
              font-size: 15px;
              color: #555;
              line-height: 48px;
            }
          }
          .input_group {
            display: flex;
            flex-direction: column;
            gap: 4px;

            input {
              margin-bottom: 4px;
            }

            .password-guide {
              color: #000;
              font-size: 13px;
              margin-top: -6px;
            }

            .error-message {
              color: #f44336;
              font-size: 13px;
              margin-top: -6px;
            }
          }
        }
      }

      // 배송지 정보
      .shipping_info {
        width: 100%;
        margin-top: 110px;
        margin-bottom: 110px;
        // background-color: #edf2f4;
        h3 {
          font-size: 20px;
          font-weight: 500;
          font-family: "Pretendard", sans-serif;
          margin-bottom: 45px;
        }

        .shipping_form {
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 20px;
          // background-color: #edf2f4;
          input,
          select {
            width: 100%;
            // width: 450px;
            height: 48px;
            padding: 12px 14px;
            font-size: 14px;
            font-weight: 300;
            font-family: "Pretendard", sans-serif;
            color: #333;
            border: 1px solid #d1d1d1;
            box-sizing: border-box;
            // background-color: #edf2f4;

            &::placeholder {
              color: #999;
              // background-color: #edf2f4;
            }
          }

          .payment_zipcode {
            display: flex;
            gap: 10px;

            .zipcode_input {
              // flex: 1;
              width: 142px;
              height: 48px;
            }

            button {
              width: 102px;
              height: 48px;
              background-color: #edf2f4;
              border: 1px solid #d1d1d1;
              font-size: 14px;
              font-family: "Pretendard", sans-serif;
              cursor: pointer;

              &:hover {
                background-color: #edf2f4;
              }
            }
          }

          .request_select {
            appearance: none;
            background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg width='10' height='6' viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l4 4 4-4' stroke='%23999' stroke-width='1.5' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E")
              no-repeat right 14px center;
            // background-color: #fff;
            // background-color: #edf2f4;
            background-size: 10px 6px;
            color: #999;
          }

          .custom_request_input {
            // width: 450px;
            width: 100%;
            height: 48px;
            padding: 12px 14px;
            font-size: 14px;
            font-weight: 300;
            font-family: "Pretendard", sans-serif;
            color: #999;
            border: 1px solid #d1d1d1;

            &::placeholder {
              color: #999;
            }
          }
        }
      }

      // 결제 수단
      .payment_mean {
        width: 100%;
        h3 {
          font-size: 20px;
          font-weight: 500;
          font-family: "Pretendard", sans-serif;
          margin-bottom: 45px;
        }
        h4 {
          font-size: 16px;
          font-weight: lighter;
          font-family: "Pretendard", sans-serif;
          margin-bottom: 20px;
        }

        .mean_choice {
          display: flex;
          gap: 0px;
          margin-bottom: 20px;
          width: 100%;
          height: 48px;

          .btn--tab {
            flex: 1;
            padding: 10px 20px;
            border: 1px solid #ccc;
            background-color: #fff;
            font-size: 14px;
            font-family: "Pretendard", sans-serif;
            color: #333;
            cursor: pointer;

            &.active {
              border-color: #333;
              background-color: #f7f7f7;
              font-weight: 500;
            }
          }
        }

        .notice {
          word-break: keep-all;
          text-align: center;
          font-size: 13px;
          color: #999;
          margin-bottom: 45px;
        }

        .agreements {
          display: flex;
          flex-direction: column;
          gap: 10px;

          label {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-family: "Pretendard", sans-serif;
            color: #333;

            input[type="checkbox"] {
              margin-right: 10px;
              width: 16px;
              height: 16px;
              cursor: pointer;
            }
          }
        }
      }
    }

    &_right {
      width: 450px;
      // border: 1px solid #f00;
      display: flex;
      // align-items: center;
      // margin-top: -203px;
      justify-content: flex-end;

      .payment_summary {
        width: 100%;
        position: relative;
        justify-content: flex-start;
        font-family: "Pretendard", sans-serif;
        display: flex;
        flex-direction: column;
        gap: 39px;
        margin-top: 0px;

        .summary_product {
          display: flex;
          align-items: center;
          gap: 15px;
          margin-top: 10px;

          img {
            width: 90px;
            height: 90px;
            object-fit: cover;
          }

          &_info {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
            & > .summary_product_name {
              font-size: 20px;
              font-weight: normal;
              font-family: "Lato", sans-serif;
            }

            & > .summary_product_subinfo {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .summary_product_quantity {
                font-size: 14px;
                font-weight: lighter;
                font-family: "Pretendard", sans-serif;
                color: #000;
              }

              .summary_product_price {
                font-size: 18px;
                font-weight: lighter;
                font-family: "Pretendard", sans-serif;
                color: #000;
              }
            }
          }
        }

        .summary_coupon {
          display: flex;
          gap: 24px;

          input {
            flex: 1;
            width: 349px;
            height: 50px;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
          }

          button {
            // padding: 10px 16px;
            font-weight: lighter;
            font-family: "Pretendard", sans-serif;
            font-size: 15px;
            background-color: #c7d4dd;
            color: #000;
            border: none;
            text-align: center;
            cursor: pointer;
            width: 77px;
            height: 100%;

            // &:hover {
            //   // background-color: #333;
            // }
          }
        }

        .summary_breakdown {
          display: flex;
          flex-direction: column;
          gap: 0px;
          font-family: "Pretendard", sans-serif;
          font-size: 16px;
          font-weight: lighter;
          div {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            width: 100%;
            line-height: 1.6;

            span:last-child {
              font-weight: lighter;
              font-size: 16px;
            }
          }
        }

        .summary_total {
          display: flex;
          justify-content: space-between;
          padding-top: 12px;
          font-size: 16px;
          // font-weight: 600;

          strong:first-child {
            font-size: 20px;
            font-weight: normal;
            font-family: "Pretendard Variable", sans-serif;
          }

          strong:last-child {
            font-weight: 400;
            font-family: "Pretendard", sans-serif;
            font-size: 23px;
          }
        }

        hr {
          border: 1px solid #d1d1d1;
        }
        .summary_submit {
          width: 100%;
          height: 62px;
          background-color: #8ba4b5;
          color: #fff;
          border: none;
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.2s;

          &:hover {
            background-color: #8ba4b5;
            opacity: 0.8;
          }
          // .modal {
          //   position: fixed;
          //   top: 0;
          //   left: 0;
          //   width: 100%;
          //   height: 100%;
          //   background: rgba(0, 0, 0, 0.5); // 어두운 배경
          //   display: flex;
          //   justify-content: center;
          //   align-items: center;
          //   z-index: 999;
          // }

          // .modal-content {
          //   background: #fff;
          //   padding: 2rem;
          //   text-align: center;
          //   font-size: 1.2rem;
          //   animation: fadeIn 0.3s ease;
          // }

          // @keyframes fadeIn {
          //   from {
          //     opacity: 0;
          //     transform: translateY(-10%);
          //   }
          //   to {
          //     opacity: 1;
          //     transform: translateY(0);
          //   }
          // }
        }
      }
    }
  }

  @include desktop1200 {
    margin: 0 30px;
    display: flex;
    justify-content: center;
    .gray_bg {
      display: none;
    }
    .payment {
      display: flex;
      justify-content: center;
      gap: 20px;

      &_left,
      &_right {
        flex: 1;
        min-width: 0;
      }

      &_right {
        display: flex;
        justify-content: center;

        .product_summary {
          width: 450px;
          margin-top: 110px;
          // justify-content: flex-start;
        }
      }
    }
  }

  @include tablet {
    margin: 0 18px;
    .payment {
      display: flex;
      flex-direction: column;
      align-items: center;

      &_left,
      &_right {
        width: auto;
        max-width: 100%;
      }

      &_right {
        margin-top: 40px;
      }

      .summary_product {
        display: flex;
        flex-direction: row;

        img {
          width: 80px;
          height: 80px;
        }

        &_info {
          flex: 1;
          padding-left: 10px;
        }
      }

      .summary_submit {
        width: 100%;
      }
    }
  }
  @include mobile {
    padding: 170px 0 100px;

    .payment {
      display: flex;
      flex-direction: column;
      align-items: center;

      &_left,
      &_right {
        width: 100%;
        max-width: 100%;
      }

      .payment_left {
        .order_payment {
          width: 100%;
        }
        .buyer_info {
          width: 100%;
        }
      }

      .payment_sumary {
        width: 100%;
        max-width: 100%;

        .summary_product {
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;

          img {
            width: 100%;
          }

          &_info {
            width: 100%;
            padding: 10px 0;
          }
        }

        .summary_coupon {
          flex-direction: row;

          input,
          button {
            width: 100%;
          }
        }

        .summary_submit {
          width: 100%;
        }
      }
    }
  }
  @include mobile500 {
    padding: 170px 0px;
    .payment {
      width: 100%;
      max-width: 100vw;
      margin: 0 auto;
      box-sizing: border-box;
      overflow-x: hidden;

      .payment_left {
        .order_payment {
          width: 100%;
        }
        .buyer_info {
          width: 100%;
        }
        .payment_mean {
          .notice {
            text-align: left;
          }
        }
      }
      .payment_right {
        width: 100%;
      }
    }
  }
}
