@import "../../styles/_variables.scss";
@import "../../styles/_responsive.scss";

// div{
//   display: flex;
//   gap: 10px;
// }
.DetailPaging {
  // object-fit: cover;
  display: flex;
  border: 1px solid #ccc;
  img {
    object-fit: cover;
    width: 128px;
    height: 80px;
    // border: 1px solid #f00;
    object-fit: cover;

    // display: flex;
    @include desktop1200 {
      width: 90px;
      height: 70px;
    }
    @include mobile {
      width: 65px;
      height: 40px;
    }
  }
}
.Detailslider-container {
  position: relative;
  margin-top: 50px;
  @include desktop1600 {
    margin-top: 100px;
  }
  @include tablet {
    margin-top: 0px;
  }
  .item {
    img {
      width: 100%;
      // height: 600px;
      max-height: 600px;
      display: flex;
      gap: 30px;
      object-fit: cover;
      margin-bottom: 100px;
      @include tablet {
        margin-bottom: 70px;
      }
      @include mobile {
        margin-bottom: 45px;
      }
    }

    /* Arrows */
    .slick-prev,
    .slick-next {
      // display: none;
      font-size: 0;
      line-height: 0;

      position: absolute;
      top: 50%;

      display: block;

      width: 20px;
      height: 20px;
      padding: 0;
      // -webkit-transform: translate(0, -50%);
      // -ms-transform: translate(0, -50%);
      // transform: translate(0%, -50%);

      cursor: pointer;

      // color: black;
      // border: 1px solid #f00;
      // outline: none;
      // background: url("../../assets/icons/VectorNext.png") center/cover no-repeat;
      // background: black;
    }

    .slick-dots.slick-thumb {
      bottom: 0px;
      @include tablet {
        bottom: 45px;
      }
    }

    // .DetailPaging img {
    //   width: 50px;
    //   height: 50px;
    //   object-fit: cover;
    //   // border-radius: 6px;
    //   // opacity: 0.5;
    // }

    .slick-dots li.slick-active .DetailPaging img {
      opacity: 0.5;
      // border: 2px solid #000;
    }
  }
  .slick-prev {
    left: 2%;
    position: absolute;
    z-index: 1;
    background: url("../../assets/icons/VectorPrev.png") center/cover no-repeat;
    object-fit: cover;
  }

  .slick-next {
    right: 2%;
    position: absolute;
    background: url("../../assets/icons/VectorNext.png") center/cover no-repeat;
  }

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
  /* Dots */
  .slick-dotted.slick-slider {
    margin-bottom: 0px;
  }

  .slick-dots {
    position: absolute;
    bottom: 0px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
  }
  .slick-dots li {
    position: relative;

    display: inline-block;

    width: auto;
    height: auto;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
  }
}
