@import "/src/styles/variables";
@import "/src/styles/responsive";

@mixin header_search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  button,
  input {
    border: none;
    background: none;
  }
  .input_wrap {
    font-size: 0;
    position: relative;
    .search_txt {
      padding: 7px 15px;
      border-radius: 100px;
      background: map-get($map: $color, $key: light);
      &::placeholder {
        font-size: 1.25rem;
        font-family: map-get($map: $font, $key: pretendard);
        transition: all 0.4s;
      }
      &:focus {
        outline: none;
        &::placeholder {
          color: transparent;
        }
      }
    }
  }

  #search_btn {
    cursor: pointer;
    width: 27px;
    margin: auto;
    img {
      display: block;
      width: 100%;
      &:nth-of-type(2) {
        display: none;
      }
    }
    &.active {
      img {
        &:nth-of-type(1) {
          display: none;
        }
        &:nth-of-type(2) {
          display: block;
          width: 78%;
          margin: auto;
        }
      }
    }
  }
}

@mixin noSearchbox {
  padding: 7px 15px;
  position: absolute;
  width: 100%;
  left: 0;
  font-size: 1.25rem;
  text-align: center;
  word-break: keep-all;
  z-index: 300;
  color: map-get($map: $color, $key: gray_9);
  background: map-get($map: $color, $key: light);
  border: 1px solid map-get($map: $color, $key: gray_d1);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(#000, 0.04);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2000;
  &.default {
    background: map-get($map: $color, $key: main);
    border-bottom: none;
  }
  &.transparent {
    background: transparent;
    border-bottom: 1px solid map-get($map: $color, $key: light);
    .header_inner {
      .header_logo {
        img {
          filter: invert(1) brightness(10);
        }
      }
      .header_tops {
        color: map-get($map: $color, $key: light);
        .btns {
          .search_bar {
            #search_form_pc {
              & > div {
                .search_txt {
                  color: map-get($map: $color, $key: dark);
                  &::placeholder {
                    color: map-get($map: $color, $key: gray_9);
                  }
                }
                &::before {
                  background: map-get($map: $color, $key: light);
                }
              }
              #search_btn,
              #mb_closeBtn {
                img {
                  filter: invert(1) brightness(10);
                }
              }
            }
          }
          .cart_btn {
            img {
              filter: invert(1) brightness(10);
            }
          }
        }
      }
    }
  }
  &.scrolled {
    background: map-get($map: $color, $key: main);
    border-bottom: none;
  }
  .header_inner {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .header_logo {
      position: relative;
      z-index: 500;
      font-size: 0;
      cursor: pointer;
      a {
        display: block;
        img {
          width: 100%;
        }
      }
    }

    .header_tops {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .menuBtn {
        font-size: 2.3rem;
        font-weight: 300;
        cursor: pointer;
      }
      .btns {
        display: flex;
        align-items: center;
        gap: 22px;
        .search_bar {
          position: relative;
          .search_form {
            @include header_search;
            .search_txt {
              width: 250px;
              opacity: 0;
              visibility: hidden;
              overflow: hidden;
              transition: all 0.4s;
              &.active {
                opacity: 1;
                visibility: visible;
              }
            }

            #mb_closeBtn {
              display: none;
            }
            .noSearchbox {
              @include noSearchbox;
              top: calc(100% + 4px);
            }
          }
        }
        .cart_btn {
          cursor: pointer;
          width: 28px;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  #search_form_mb {
    display: none;
  }

  @include desktop {
    .header_inner {
      .header_logo {
        a {
          img {
            zoom: 0.9;
          }
        }
      }

      .header_tops {
        .menuBtn {
          font-size: 2.1rem;
        }
        .btns {
          gap: 18px;
          .search_bar {
            .search_form {
              gap: 8px;
              .input_wrap {
                margin-bottom: 2px;
                .search_txt {
                  width: 210px;
                  padding-bottom: 8px;
                  &::placeholder {
                    font-size: 1.3rem;
                  }
                }
              }
              #search_btn {
                width: 25px;
              }
            }
          }
          .cart_btn {
            width: 26px;
          }
        }
      }
    }
  }
  @include mobile {
    .header_inner {
      .header_logo {
        a {
          img {
            zoom: 0.85;
          }
        }
      }

      .header_tops {
        .menuBtn {
          font-size: 1.8rem;
        }
        .btns {
          gap: 12px;
          .search_bar {
            .search_form {
              gap: 8px;
              .input_wrap {
                display: none;
              }
              #search_btn {
                display: none;
              }
              #mb_closeBtn {
                width: 22px;
                object-fit: cover;
                display: block;
                cursor: pointer;
                margin-bottom: 1px;
                img {
                  display: block;
                  width: 100%;
                  &:nth-of-type(2) {
                    display: none;
                  }
                }
                &.active {
                  img {
                    &:nth-of-type(1) {
                      display: none;
                    }
                    &:nth-of-type(2) {
                      display: block;
                      width: 78%;
                      margin: auto;
                    }
                  }
                }
              }
            }
          }
          .cart_btn {
            width: 23px;
          }
        }
      }
    }

    #search_form_mb {
      @include header_search;
      display: flex;
      padding: 10px 18px;
      align-items: center;
      gap: 15px;
      justify-content: space-between;
      position: absolute;
      top: 50px;
      height: 52px;
      left: 0;
      width: 100%;
      background: map-get($map: $color, $key: light);
      border-bottom: 1px solid map-get($map: $color, $key: gray_d1);
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s;
      &.active {
        opacity: 1;
        visibility: visible;
      }
      .input_wrap {
        width: 100%;
        margin-bottom: 0px;
        position: relative;
        .search_txt {
          border: 1px solid map-get($map: $color, $key: gray_d1);
          width: 100%;
          padding-bottom: 0px;
          padding: 10px;
          border-radius: 0;
          background: none;
        }

        .noSearchbox {
          @include noSearchbox;
          top: 100%;
          border-radius: 0;
          border-top: none;
          padding: 10px 15px;
        }
      }
      .search_btn {
        width: 25px;
        cursor: pointer;
      }
      &.active {
        display: flex;
      }
    }
  }
}

#header_menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  .menu_black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(#000, 0.3);
    display: none;
  }
  .menu_bg {
    padding: 80px 50px;
    transform: translateX(-100%);
    transition: transform 0.4s;
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100vh;
    background: map-get($map: $color, $key: light);
    .closeBtn {
      position: absolute;
      cursor: pointer;
      top: 25px;
      right: 25px;
      img {
        width: 18px;
      }
    }
    #gnb {
      & > li > span {
        display: inline-block;
        font-size: 2.3rem;
        font-weight: 700;
        margin-bottom: 30px;
      }
      & > li:nth-of-type(n + 2) {
        margin-top: 50px;
      }
      .h_menu_list {
        li {
          font-size: 2rem;
          font-weight: 300;
          &:nth-of-type(n + 2) {
            margin-top: 15px;
          }
        }
      }
    }
  }
  &.active {
    .menu_black {
      display: block;
    }
    .menu_bg {
      transform: translateX(0);
    }
  }

  @include mobile500 {
    .menu_bg {
      padding: 70px 40px;
      width: 100%;
      .closeBtn {
        top: 17px;
        right: 18px;
        img {
          width: 16px;
        }
      }
      #gnb {
        & > li > span {
          font-size: 2rem;
          margin-bottom: 25px;
        }
        & > li:nth-of-type(n + 2) {
          margin-top: 40px;
        }
        .h_menu_list {
          li {
            font-size: 1.8rem;
            &:nth-of-type(n + 2) {
              margin-top: 13px;
            }
          }
        }
      }
    }
  }
}

#header_cart {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  &.active {
    .cart_black {
      display: block;
    }
    .cart_inner {
      transform: translateX(0%);
    }
  }
  .cart_black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(#000, 0.3);
    display: none;
  }
  .cart_inner {
    width: 410px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 0.4s;
    background: map-get($map: $color, $key: light);
    .cart_top {
      padding: 18px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid map-get($map: $color, $key: gray_e0);
      .closeBtn {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        img {
          width: 18px;
        }
      }
      h4 {
        font-size: 2.3rem;
        font-weight: 700;
      }
    }
    #cart_center {
      position: relative;
      padding: 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
      .cart_empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
          width: 50px;
        }
        span {
          color: map-get($map: $color, $key: gray_9);
          font-size: 1.4rem;
          font-weight: 300;
        }
      }
      .cart_item {
        background: #f8f8f8;
        .top_item {
          padding: 17px;
          display: flex;
          gap: 20px;
          align-items: center;
          figure {
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: map-get($map: $color, $key: light);
            img {
              width: 100%;
              max-width: 100%;
            }
          }
          .txt {
            h4 {
              font-size: 1.8rem;
              font-weight: 300;
            }
            h5 {
              margin-top: 15px;
              font-size: 1.4rem;
              font-weight: 300;
            }
          }
        }
        .bot_items {
          background: map-get($map: $color, $key: gray_f2);
          display: flex;
          align-items: center;
          li {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:nth-child(1) {
              border-right: 1px solid map-get($map: $color, $key: gray_d9);
            }
            &.quantity_controls {
              button {
                border: none;
                font-size: 1.3rem;
                padding: 5px 10px;
                cursor: pointer;
                background: none;
              }
              .count {
                font-size: 1.8rem;
                margin: 0 20px;
              }
            }
            &.removeBtn {
              padding: 10px;
              cursor: pointer;
              .remove_wrap {
                padding: 5px 0 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                img {
                  width: 17px;
                }
                p {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
    #cart_bottom {
      padding: 20px;
      background: #f9f9f9;
      .cart_price {
        & > li {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .subtotal {
          padding-bottom: 20px;
          border-bottom: 1px solid map-get($map: $color, $key: gray_d9);
          h6 {
            font-size: 1.6rem;
            font-weight: 300;
          }
          p {
            font-size: 1.6rem;
            font-weight: 300;
          }
        }
        .total {
          padding: 20px 0;
          h6 {
            font-size: 1.8rem;
            font-weight: 700;
          }
          p {
            font-size: 1.8rem;
            font-weight: 300;
          }
        }
      }
      .checkoutBtn {
        width: 100%;
        padding: 15px;
        background: map-get($map: $color, $key: main);
        border: none;
        font-size: 1.6rem;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  @include mobile500 {
    .cart_inner {
      width: 100%;
      .cart_top {
        padding: 14px 0;
        .closeBtn {
          top: 17px;
          left: 18px;
          img {
            width: 16px;
          }
        }
        h4 {
          font-size: 1.8rem;
        }
      }
      #cart_center {
        padding: 18px;
        gap: 18px;
        .cart_empty {
          gap: 20px;
          img {
            width: 48px;
          }
          span {
            font-size: 1.3rem;
          }
        }
        .cart_item {
          .top_item {
            padding: 17px;
            gap: 20px;
            figure {
              width: 70px;
              height: 70px;
            }
            .txt {
              h4 {
                font-size: 1.6rem;
              }
              h5 {
                margin-top: 10px;
                font-size: 1.35rem;
              }
            }
          }
          .bot_items {
            li {
              &.quantity_controls {
                button {
                  font-size: 1.2rem;
                }
                .count {
                  font-size: 1.6rem;
                  margin: 0 18px;
                }
              }
              &.removeBtn {
                padding: 9px;
                .remove_wrap {
                  img {
                    width: 16px;
                  }
                  p {
                    font-size: 1.5rem;
                  }
                }
              }
            }
          }
        }
      }
      #cart_bottom {
        padding: 18px;
        .cart_price {
          .subtotal {
            padding-bottom: 18px;
            h6 {
              font-size: 1.45rem;
            }
            p {
              font-size: 1.45rem;
            }
          }
          .total {
            padding: 18px 0;
            h6 {
              font-size: 1.6rem;
            }
            p {
              font-size: 1.6rem;
            }
          }
        }
        .checkoutBtn {
          padding: 13px;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}
