@import "../../styles/_variables.scss";
@import "../../styles/_responsive.scss";

.detail-placeholder {
  min-height: 100vh;
  background: #fff;
}

.detail_main {
  width: 100%;
  margin-top: 108px;
  display: flex;
  border-bottom: 1px solid map-get($map: $color, $key: gray_d1);
  .leftmain {
    position: relative;
    width: 52%;
    // border: 1px solid #f00;
    .detailimgs {
      width: 100px;
      height: 70px;
      // border: 1px solid #f00;
      display: flex;
    }
  }
  .rightmain {
    // width: 920px;
    width: 48%;
    // height: 823px;
    padding: 90px 110px 130px 110px;
    background: #eee;

    .rightmain_detail {
      max-width: 570px;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      .topmain_detail {
        .topmain_detail_header {
          max-width: 570px;
          margin-bottom: 30px;
          font-size: 4.5rem;
          font-style: light;
        }
        p {
          font-size: 1.8rem;
        }
      }
      .centermain_detail {
        display: flex;
        gap: 17px;
        flex-direction: column;
        .maindetail {
          // border: 1px solid #f00;
          display: flex;
          justify-content: space-between;
        }
      }
      .undermain_detail {
        .undermain_detail_price {
          margin-bottom: 16px;
          .price {
            font-size: 3.5rem;
          }
        }
        .tax {
          font-style: italic;
          color: map-get($map: $color, $key: gray_9);
        }
        .text {
          width: 40px;
          height: 30px;
          margin-right: 10px;
          text-align: center;
          display: flex;
        }
        .delivery {
          font-style: italic;
          margin-bottom: 80px;
          i {
            color: #8ba4b5;
          }
        }
        .quantity {
          display: flex;
          gap: 33px;
          align-items: center;
          .quantity-control {
            display: flex;
            align-items: center;
            border-radius: 100px;
            height: 60px;
            overflow: hidden;

            .quantity-btn {
              width: 40px;
              height: 100%;
              border: none;
              background: #f5f5f5;
              font-size: 2rem;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;

              &:hover {
                background: #e0e0e0;
              }

              &:disabled {
                color: #ccc;
                cursor: not-allowed;
                background: #f5f5f5;
              }
            }

            .quantity-value {
              flex: 1;
              text-align: center;
              font-size: 2rem;
              background: white;
              height: 100%;
              padding: 0 20px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
        .icon_button {
          display: inline-flex;
          height: 60px;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 14px 40px;
          color: map-get($map: $color, $key: dark);
          background-color: map-get($map: $color, $key: main);

          transition: background 0.3s ease;
          border: none;
          border-radius: 99px;
          font-size: 18px;
          cursor: pointer;
          &:hover {
            background: map-get($map: $color, $key: main2);
            // scale: 1.05;
          }
        }
      }
    }
  }
}
.detail_center {
  width: 100%;
  h3 {
    margin-top: 120px;
    margin-bottom: 100px;
    font-size: 3rem;
    font-weight: 400;
  }
  .DetailImage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // object-fit: cover;
    gap: 70px;
    img {
      width: 1000px;
      max-width: 100%;
      // border: 1px solid #f00;
    }
  }
}
.detail_info {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 120px;
  background: map-get($map: $color, $key: gray_f2);
  padding: 70px 0;
  margin-top: 180px;
  .detail_info_wrap {
    display: flex;
    width: 100%;
    .detail_info_title {
      margin-bottom: 60px;
      font-size: 3rem;
    }
    .right_detail_info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      padding: 50px 0;
      .wrap {
        width: 70%;
      }
      .info-list {
        font-size: 2rem;
        width: 100%;
      }
      li {
        position: relative;
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        .label {
          display: inline-block;
          width: 50%;
        }
        .value {
          display: inline-block;
          width: 50%;
        }
        .underline {
          content: "";
          width: 100%;
          position: absolute;
          bottom: 0;
          height: 1px;
          width: calc(100%);
          background-color: map-get($map: $color, $key: main2);
        }
      }
    }
    .left_detail_info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      border-right: 1px solid map-get($map: $color, $key: main2);
      padding: 50px 0;
      .wrap {
        width: 70%;
      }
      p {
        font-size: 2rem;
        line-height: 1.8;
        word-break: keep-all;
      }
    }
  }
}

.more_item {
  h3 {
    margin-top: 150px;
    margin-left: 50px;
  }
}

//responsive.scss
@include desktop1600 {
  .detail_main {
    .leftmain {
      // max-width: 750px;
      img {
        object-fit: cover;
      }
      // scale: 0.7;
      // img{
      //   object-fit: cover ;
      //   width: 100%;
      //   display: block;
      //   // height: auto;
      // }
    }
    .rightmain {
      .rightmain_detail {
        width: 100%;
      }
    }
  }
}

@include desktop {
  .detail_main {
    width: 100%;
    .leftmain {
      // width: 100%;
      // max-width: 550px;
      margin-bottom: 20px;
      img {
        object-fit: cover;
      }
    }
    .rightmain {
      padding: 90px 90px 100px 90px;
      .rightmain_detail {
        .topmain_detail {
          .topmain_detail_header {
            font-size: 3rem;
          }
          p {
            font-size: 1.6rem;
          }
        }
        width: 100%;
        font-size: 1.4rem;
        .undermain_detail {
          .undermain_detail_price {
            .price {
              font-size: 2.5rem;
            }
          }

          .quantity {
            gap: 15px;
            .quantity-control {
              height: 45px;
              .quantity-btn {
                width: 30px;
                font-size: 1.8rem;
              }
              .quantity-value {
                font-size: 1.6rem;
                padding: 0 15px;
              }
            }
          }
          .icon_button {
            height: 45px;
            padding: 12px 24px;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  .detail_center {
    h3 {
      font-size: 2.6rem;
      margin-top: 100px;
      margin-bottom: 80px;
    }
  }
  .detail_info {
    padding: 0;
    margin-top: 100px;
    .detail_info_wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      font-size: 2rem;
      .left_detail_info {
        padding: 80px 0;
        position: relative;
        width: 100%;
        border: none;
        .detail_info_title {
          font-size: 2.6rem;
          margin-bottom: 30px;
        }
        p {
          font-size: 1.5rem;
        }
      }
      .right_detail_info {
        padding: 80px 0;
        position: relative;
        width: 100%;
        border-top: 1px solid map-get($map: $color, $key: gray_d1);
        .detail_info_title {
          font-size: 2.6rem;
          margin-bottom: 30px;
        }
        .info-list {
          li {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@include tablet {
  .detail_main {
    display: flex;
    flex-direction: column;
    .leftmain {
      position: relative;
      width: 100%;
      max-width: none;
    }
    .rightmain {
      width: 100%;
      padding: 60px 18px;
      // margin-top: 150px;
      // height: 600px;
      .rightmain_detail {
        max-width: 100%;
        margin: 0 auto;
        width: 70%;
        // height: 100px;
      }
    }
  }
  .detail_center {
    h3 {
      font-size: 2.2rem;
      margin-top: 90px;
      margin-bottom: 50px;
    }
    .DetailImage {
      gap: 50px;
    }
  }
}

@include mobile {
  .detail_main {
    width: 100%;
    .leftmain {
      width: 100%;
      // max-width: 400px;
    }
    .rightmain {
      width: 100%;
      .rightmain_detail {
        .topmain_detail {
          .topmain_detail_header {
            font-size: 2.5rem;
          }
          p {
            font-size: 1.4rem;
          }
        }
        width: 100%;
        font-size: 1.3rem;
        .undermain_detail {
          .undermain_detail_price {
            margin-bottom: 10px;
            .price {
              font-size: 2.2rem;
            }
            .tax {
              font-size: 1.2rem;
            }
          }
          .delivery {
            margin-bottom: 40px;
          }
          .quantity {
            .quantity-control {
              height: 40px;
              .quantity-value {
                font-size: 1.3rem;
              }
            }
            .icon_button {
              height: 40px;
              padding: 10px 22px;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
  .detail_center {
    h3 {
      font-size: 1.8rem;
      margin-top: 70px;
      margin-bottom: 40px;
    }
    .DetailImage {
      gap: 30px;
    }
  }
  .detail_info {
    padding: 0 18px;
    .detail_info_wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      font-size: 1.5rem;
      .left_detail_info {
        padding: 60px 0;
        .wrap {
          width: 100%;
          .detail_info_title {
            font-size: 1.8rem;
          }
          p {
            font-size: 1.4rem;
          }
        }
      }
      .right_detail_info {
        padding: 60px 0;
        .wrap {
          width: 100%;
          .detail_info_title {
            font-size: 1.8rem;
          }
          .info-list {
            li {
              font-size: 1.3rem;
              padding: 14px 0;
            }
          }
        }
      }
    }
  }
}
