@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", "Pretendard Variable", sans-serif;
  color: #222;
  overflow-x: hidden;
}

.inner {
  margin: 0 50px;
}
@media (max-width: 1600px) {
  .inner {
    margin: 0 30px;
  }
}
@media (max-width: 1025px) {
  .inner {
    margin: 0 18px;
  }
}